ultralytics==8.3.199
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
opencv-python==4.11.0.86
opencv-python-headless==4.8.0.76
flask==3.1.2
flask-cors==6.0.1
flask-socketio==5.6.0
python-socketio==5.16.0
python-engineio==4.13.0
eventlet==0.33.3
pillow==11.3.0
numpy==1.26.4
pandas==2.3.2
timm==1.0.24
gunicorn==21.2.0
